.BigButton {
    height: 105px;
    max-width: 312px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enabled {
    background-color: var(--color-bg-secondary);
    color: white;
}

.disabled {
    background-color: #3AAFB940;
    color: rgb(129, 129, 129);
}